.ase-footer {
  width: 100%;
  padding: 32px 16px;
  background: var(--ase-brand-bg);
  display: flex;
  justify-content: center;

  &__text {
    color: var(--ase-color-white);
    font-family: var(--ase-font);
    font-size: 20px;
  }
}
